JDBC_URL = "jdbc:arrow-flight-sql://semantic-layer.cloud.getdbt.com:443?environmentId=<DBT_CLOUD_ENVIRONMENT_ID>&token=<DBT_CLOUD_SERVICE_TOKEN>" # Only necessary for the embedded tab
OPENAI_API_KEY = "" #Input your open Open AI API Key